.quote-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0; 
    overflow: hidden; 
    margin-right: 5rem;
  }
  
  .quote-text {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    text-align: center;
    justify-content: center;
    position: relative;
    animation: move 30s infinite linear;
  }
  
  @keyframes move {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }