.quote-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(200, 46%, 41%); 
    overflow: hidden; 
  }
  
  .quote-text {
    font-size: 1.5rem;
    padding: 1rem;
    color:white;
    text-align: center;
    justify-content: center;
    position: relative;
    animation: move 30s infinite linear;
  }
  
  @keyframes move {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }